$title-font: 'Alata', sans-serif;
$basic-font: 'Barlow', sans-serif;
$copyright-font: 'Be Vietnam', sans-serif;

$size-menu: 12px;
$size-title: 48px;
$size-standard: 21px;
$size-text-smaller: 14px;
$size-copyright:10px;
$size-inifniteSlider:60px;
$size-form: 13px;